body {
  background-color: rgb(245, 245, 245);
  color: rgb(121, 121, 121);
  font-family: 'Lato', sans-serif;
  font-size: 13px;
}
.social {
  width: 20px;
  height: 20px;
  border-radius: 3px;
}

footer {
  text-align: center;
  padding: 40px;
}




/********Home View*******/

.homerow {
  padding-top: 4rem;
}



#title {
  font-size: 25rem;
  letter-spacing: -3.7rem;
  margin-top: -4rem;
  color:#424242 ;
}
#titleSupport {
  display: block
  letter-spacing: -.45rem;
  font-size: 3rem;
  color: darkgrey;
  margin-bottom: -6rem;
}

.goPlay {

  font-size: 6rem;
  letter-spacing: -.48rem;
}

.home-billybeet {
  max-width: 40%;
  max-height: 40%;
  min-height: 40%;
  min-height: 40%;
}
#beetFarmer {
  max-width: 30%;
  max-height: 30%;
  opacity: 0.7;
}

/*******mainBeet View*/

.drum-container {
  display:block;
  margin-top: 25%;
  min-width: 850px;
  border-radius: 10px;
  border: 1px solid rgb(230, 230, 230);
  width: 800px;
  background-color: rgb(255, 255, 255);
  margin: 0px auto;
  margin-top: 50px;
  padding: 20px 20px 15px 20px;
  -webkit-box-shadow:0px 2px 3px rgba(0, 0, 0, 0.2);
  /*display: none;*/

}
.iName {
font-size: 1.5rem;
margin-right: 1rem;
}
.muteString {
  font-size: .7rem;
}

.follow {
  opacity: 0.2;
}

#bpm {
  width: 11.9%;
  margin-left: 20px;
  font-size: 2.5rem;
  background-image: url("http://webaudiodemos.appspot.com/MIDIDrums/images/tempo_bg.png");
  background-image: no-repeat;
  text-align: center;
}

#beetName {
  width: 25%;
  margin-right: 20px;
  font-size: 1.5rem;
  text-align: center;

  }

.beet {
  width: 3.5em;
  height: 3.5rem;
}

.save {
  margin-right: -3px;
}

#play:hover, #stop:hover, #save:hover, #reset:hover, #minus:hover, #plus:hover, .links:hover, #linkGarden:hover, #delete:hover, .beet:hover {
  opacity: 0.6;
}

.muted {

}

.grid-row {

display: inline;
min-width: 670px;
}

.links{
  padding-top: 1rem;
  display: inline;
  width: 25%;
  letter-spacing: -.28rem;
  border: 1px solid rgb(230, 230, 230);
  border-radius: 5%;
  background-color: rgb(255, 255, 255);
  margin: 0px auto;
  padding: 20px 20px 15px 20px;
  -webkit-box-shadow:0px 2px 3px rgba(0, 0, 0, 0.2);
  text-align: center;
   font-size: 2rem;



  /*background-image: url("http://webaudiodemos.appspot.com/MIDIDrums/images/tempo_bg.png");*/
  /*background-repeat: no-repeat;*/
}
.aTags {
  color:inherit;
}

#linkGarden {
  padding-top: 1rem;
  width: 25%;
  min-width: 220px;
  border: 1px solid rgb(230, 230, 230);
  border-radius: 5%;
  background-color: rgb(255, 255, 255);
  margin: 0px auto;
  padding: 20px 20px 15px 20px;
  -webkit-box-shadow:0px 2px 3px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin-bottom: 3rem;
  font-size: 2rem;


}
#linktoMain {
  letter-spacing: -.38rem;
  font-size: 2.5rem;
  color: inherit;
}
.toast {

  border: 1px solid rgb(230, 230, 230);
  border-radius: 5%;
  background-color: rgb(255, 255, 255);
  -webkit-box-shadow:0px 2px 3px rgba(0, 0, 0, 0.2);

   letter-spacing: -.1rem;
  font-size: 1.4rem;
  color:black;
}

/**************beet Garden View*************/

#gardenTitle {
 letter-spacing: -.54rem;
}
/*.garden {
  max-width: 75%;
}*/
.savedBeet {
 min-height: 220px;
 max-height: 220px;
 /*min-width: 180px;
 max-width: 180px;*/
  border-radius: 10px;
  border: 1px solid rgb(230, 230, 230);
  background-color: rgb(255, 255, 255);
  /*margin: 10px ;*/
  /*padding: 20px 20px 15px 20px;*/
  padding-top: 5px;
  -webkit-box-shadow:0px 2px 3px rgba(0, 0, 0, 0.2);
  text-align: center;
  letter-spacing: -.18rem;
  font-size: 1.5rem;
}

#delete {
  margin-left: 3rem;
}
