body {
  background-color: rgb(245, 245, 245);
  color: rgb(121, 121, 121);
  font-family: 'Droid Sans', Arial, sans-serif;
  font-size: 13px;
}





.home-billybeet {
  max-width: 40%;
  max-height: 40%;
  min-height: 40%;
  min-height: 40%;
}

/*******mainBeet View*/

.drum-container {
display:block;
min-width: 650px;
  border-radius: 10px;
  border: 1px solid rgb(230, 230, 230);
  width: 800px;
  background-color: rgb(255, 255, 255);
  margin: 0px auto;
  padding: 20px 20px 15px 20px;
  -webkit-box-shadow:0px 2px 3px rgba(0, 0, 0, 0.2);
  /*display: none;*/


}
.input {
  width: 20%;
  background-color: green;
}

.grid-row {
display: inline;
min-width: 670px;
}
/*clicked button
 http://webaudiodemos.appspot.com/MIDIDrums/images/button_on.png*/
 /*led on
 http://webaudiodemos.appspot.com/MIDIDrums/images/LED_on.png*/
/* led off
 http://webaudiodemos.appspot.com/MIDIDrums/images/LED_off.png*/
 /*stop
 http://webaudiodemos.appspot.com/MIDIDrums/images/btn_stop.png*/
 /*play
 http://webaudiodemos.appspot.com/MIDIDrums/images/btn_play.png*/
/*tempo background
 http://webaudiodemos.appspot.com/MIDIDrums/images/tempo_bg.png*/
 /*minus button
 http://webaudiodemos.appspot.com/MIDIDrums/images/tempo_dec.png*/
 /*add button
 http://webaudiodemos.appspot.com/MIDIDrums/images/tempo_inc.png*/
 /*save
 http://webaudiodemos.appspot.com/MIDIDrums/images/btn_save.png*/
 /*reset
 http://webaudiodemos.appspot.com/MIDIDrums/images/btn_reset.png*/

/*.round-button {

    width: 4%;
    height: 2%;
    padding-bottom: 4%;
    /*border-radius: 50%;*/
    border: 2px solid #f5f5f5;
    overflow: hidden;
    /*background: #464646;*/
    box-shadow: 0 0 3px gray;
}*/
/*.round-button:hover {
    background: #262626;
}
.round-button img {
    display: block;
    width: 36%;
    padding: 12%;
    height: auto;
}*/
