body {
  background-color: rgb(245, 245, 245);
  color: rgb(121, 121, 121);
  font-family: 'Droid Sans', Arial, sans-serif;
  font-size: 13px;
}





.home-billybeet {
  max-width: 40%;
  max-height: 40%;
  min-height: 40%;
  min-height: 40%;
}

/*******mainBeet View*/

.drum-container {
  display:block;
  min-width: 650px;
  border-radius: 10px;
  border: 1px solid rgb(230, 230, 230);
  width: 800px;
  background-color: rgb(255, 255, 255);
  margin: 0px auto;
  padding: 20px 20px 15px 20px;
  -webkit-box-shadow:0px 2px 3px rgba(0, 0, 0, 0.2);
  /*display: none;*/

}

#bpm {
  width: 11.9%;
  margin-left: 20px;
  font-size: 2.5rem;
  background-image: url("http://webaudiodemos.appspot.com/MIDIDrums/images/tempo_bg.png");
  background-image: no-repeat;
  text-align: center;
}

#beetName {
  width: 25%;
  margin-right: 20px;
  font-size: 1.5rem;
  text-align: center;
  /*-webkit-writing-mode: none;*/

  }

.save {
  margin-right: -3px;
}

#play:hover, #stop:hover, #save:hover, #reset:hover, #minus:hover, #plus:hover {
  opacity: 0.7;
}
/*
.tempo {
  margin-left: 5px;
}*/

.grid-row {
display: inline;
min-width: 670px;
}

/**************beet Garden View*************/

.savedBeet {
  /*display: inline-block;*/
  /*min-width: 650px;*/
  border-radius: 10px;
  border: 1px solid rgb(230, 230, 230);
  /*width: 800px;*/
  background-color: rgb(255, 255, 255);
  margin: 0px auto;
  padding: 20px 20px 15px 20px;
  -webkit-box-shadow:0px 2px 3px rgba(0, 0, 0, 0.2);
}

#delete {
  margin-left: 3rem;
}

/*clicked button
 http://webaudiodemos.appspot.com/MIDIDrums/images/button_on.png*/
 /*led on
 http://webaudiodemos.appspot.com/MIDIDrums/images/LED_on.png*/
/* led off
 http://webaudiodemos.appspot.com/MIDIDrums/images/LED_off.png*/
 /*stop
 http://webaudiodemos.appspot.com/MIDIDrums/images/btn_stop.png*/
 /*play
 http://webaudiodemos.appspot.com/MIDIDrums/images/btn_play.png*/
/*tempo background
 http://webaudiodemos.appspot.com/MIDIDrums/images/tempo_bg.png*/
 /*minus button
 http://webaudiodemos.appspot.com/MIDIDrums/images/tempo_dec.png*/
 /*add button
 http://webaudiodemos.appspot.com/MIDIDrums/images/tempo_inc.png*/
 /*save
 http://webaudiodemos.appspot.com/MIDIDrums/images/btn_save.png*/
 /*reset
 http://webaudiodemos.appspot.com/MIDIDrums/images/btn_reset.png*/
