<div class="container">
  <h1>beetGarden</h1>
  <!-- <h2 ng-click="loading()">load</h2> -->
  <h3>Choose a beet to play</h3>
  <a href="#!/main">Go play</a>
  <div class="row">
    <div class="savedBeet col m6" ng-repeat="pattern in userBeets">
      <div class="">
        <h4 class="">{{pattern.name}}</h4>
          <p>{{pattern.bpm}} bpm</p>
      <img class="controls" id="play" ng-click="playThisBeet(pattern.beetID[0])" src="http://webaudiodemos.appspot.com/MIDIDrums/images/btn_play.png">
         <i class="material-icons" id="delete" ng-click="delete(pattern.beetID[0])">delete</i>
      </div>
    </div>
  </div>
</div>
