<div class="home container valign-wrapper">
  <div class="homerow ">
  <!--   <div class="home col s8">
      <!-- Promo Content 1 goes here -->
      <!-- <img class="home-billybeet" src="/assets/img/billyBeet.png"> -->
    <!-- </div> -->
    <div class="home col s4">
      <h5 id="titleSupport">BILLY'S FRESH</h5>
      <h1 class="center-align" id="title">BEETZ</h1>
    </div>

  </div>

</div>
  <div class="goPlay center-align">
    <a class="aTags" href="#!/main">PLAY</a>
  </div>


<div class="valign-wrapper navbar">

  <div ng-controller="logoutCtrl" ng-click="logout()" class="links">
    <a class="aTags">LOGOUT</a>
  </div>
  <div id="loginButton" data-target="loginModal" class="links">
    <a class="aTags">LOGIN</a>
  </div>
  <div id="registerButton" data-target="registerModal" class="links">
    <a class="aTags">REGISTER</a>
  </div>
  </div>  <!--  end nav bar -->

  <!--
 <button   class="waves-effect grey btn-large"><a href="#!/main">Go Play</a></button> -->
  <!--  <button ng-controller="logoutCtrl" ng-click="logout()" class="waves-effect grey btn-large">Logout</button> -->
  <!--   <button id="loginButton"data-target="loginModal" class="waves-effect grey btn-large"> LOGIN</button> -->
  <!--   <button class="registerButton waves-effect grey btn-large" data-target="registerModal"> Register</button> -->
  <!-- modal -->
  <div id="loginModal" ng-controller="loginCtrl" class="modal">
    <div class="modal-content">
      <h4>Login</h4>
      <form>
        <input type="email" ng-model="user_email" placeholder="Email">
        <input type="password" ng-model="user_password" placeholder="Password">
        <input type="submit" class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="userLogin()" value="LOGIN">
      </form>
      <p>New?
        <button data-target="registerModal" class="modal-action modal-close waves-effect waves-white btn-flat registerButton">Register</button>
      </p>
    </div>
  </div>
  <!-- end login modal -->
  <!-- Register Modal  -->
  <div id="registerModal" ng-controller="registerCtrl" class="modal">
    <div class="modal-content">
      <h4>Register</h4>
      <form>
        <input type="text" ng-model="firstName" placeholder="First">
        <input type="text" ng-model="lastName" placeholder="Last">
        <input type="email" ng-model="user_email" placeholder="Email">
        <input type="password" ng-model="user_password" placeholder="Password">
        <input type="submit" ng-click="createUser()" class="modal-action modal-close waves-effect waves-green btn-flat" value="Register">
      </form>
    </div>
  </div>
  <!-- End Register Modal  -->
