<!-- <h1 ng-click="playPatternSound()"> hihat</h1> -->
<div class="container">
  <a href="#!/home">Home Page</a>
  <!-- <h4 class="grey-darken-1" ng-click="save()">SAVE!!!!!!!!</h4> -->
  <br>
  <br>
  <!-- <h4 ng-click="newBeet(grid)">load a fresh beet</h4> -->
  <br>
  <!-- <div ng-click="play(instruments)">Play</div> -->
  <section class="drum-container">
    <div class="controls center-align">
      <img ng-click="play(instruments)" src="http://webaudiodemos.appspot.com/MIDIDrums/images/btn_play.png">
      <img ng-click="stop()" src="http://webaudiodemos.appspot.com/MIDIDrums/images/btn_stop.png">
      <img class="save" ng-click="save()" src="http://webaudiodemos.appspot.com/MIDIDrums/images/btn_save.png">
      <img ng-click="newBeet(grid)" src="http://webaudiodemos.appspot.com/MIDIDrums/images/btn_reset.png">
      <img ng-click="plusTempo()" src="http://webaudiodemos.appspot.com/MIDIDrums/images/tempo_inc.png">
      <img ng-click="minusTempo()" src="http://webaudiodemos.appspot.com/MIDIDrums/images/tempo_dec.png">

    </div>
    <!-- end controls -->
    <div ng-repeat="instrument in instruments">
      <span>{{Name}} </span>
      <img id="{{instrument}}" src="http://webaudiodemos.appspot.com/MIDIDrums/images/LED_on.png">
      <div class="grid-row" ng-class="{'grey': beet.value=== true}" ng-repeat="beet in instrument track by $index">
        <!-- {{beat.name}} -->
        <img src="http://webaudiodemos.appspot.com/MIDIDrums/images/button_off.png" alt="beetButton" ng-click="changebeet(beet)" id="beet{{beet.name}}" class="round-button ">
        <!-- ng-class="use this to show what's playing" -->
      </div>
    </div>
  </section>
  <!--end drum-container -->
  <a href="#!/beetGarden">My BeetGarden</a>
  <input class="input" type="text" ng-model="bpm" placeholder="BPM">
  <input class="input" type="text" ng-model="loopName" placeholder="Name Your Beet">
</div>
<!-- end container -->
