
<div class="container">
<div class="links">
  <a class="aTags" href="#!/home">Home</a>
  </div>
  <div class="links">
    <a class="aTags" ng-click="checkAuth()">My BeetGarden</a>
  </div>
  <div id="loginButton" data-target="loginModal" class="links">
    <a class="aTags">LOGIN</a>
  </div>
    <div ng-controller="logoutCtrl" ng-click="logout()" class="links">
    <a class="aTags">LOGOUT</a>
  </div>

  <br>
  <br>

  <br>

  <section class="drum-container">
    <div class="controls center-align">
      <input id="beetName" type="text" ng-model="loopName" placeholder="Name Your Beet">
      <img class="controls" ng-if="playing === false" id="play" ng-click="play(instruments,bpm)" ng-src="http://webaudiodemos.appspot.com/MIDIDrums/images/btn_play.png">
      <img class="controls" ng-if="playing === true" id="stop" ng-click="stop()" ng-src="http://webaudiodemos.appspot.com/MIDIDrums/images/btn_stop.png">
      <img class="controls" id="save" class="save" ng-click="save()" ng-src="http://webaudiodemos.appspot.com/MIDIDrums/images/btn_save.png">
      <img ng-click="newBeet(grid)" id="reset" ng-src="http://webaudiodemos.appspot.com/MIDIDrums/images/btn_reset.png">
      <img class="controls tempo" id="minus" ng-click="minusTempo()" ng-src="http://webaudiodemos.appspot.com/MIDIDrums/images/tempo_dec.png">
      <img class="controls tempo" id="plus" ng-click="plusTempo()" ng-src="http://webaudiodemos.appspot.com/MIDIDrums/images/tempo_inc.png">
      <input id="bpm" type="text" ng-model="bpm" placeholder="BPM">
    </div>
    <!-- end controls -->
    <div ng-repeat="instrument in instruments">
      <!-- <span>mute  </span> -->
      <img id="{{instrument.name}}" ng-class="{ muted: instrument.muted  }" ng-click="mute(instrument)" ng-src="/assets/img/LED_{{instrument.muted}}.png">
      <div class="grid-row" ng-repeat="beet in instrument track by $index">
        <!-- {{beat.name}} -->
        <!-- ng-class="{ blue lighten-4 : beet.value }" -->
        <img class="beet" ng-class=" {'follow':  beet.playing}" ng-src="/assets/img/button-{{beet.value}}.png" alt="beetButton" ng-click="changeValue(beet)" id="beet{{beet.name}}">

      </div>
    </div>
  </section>
  <!--end drum-container -->
</div>
<!-- end container -->
